<!doctype html>

{% extends "base.html" %}

{% block content %}

  <h1>
    {% if buggy %}
    Edit buggy #"{{ buggy['id']}}"
    {% else %}
    Create buggy
    {% endif %}
  </h1>
  <p> {{msg}} </p>
  <form action="/new" method="post">
    <input type="hidden" name="id" value="{{buggy['id']}}" />
    <label for="qty_wheels">Number of wheels:</label>
    <input type="text" name="qty_wheels" value="{{buggy['qty_wheels']}}"/>
    <p><label for="flag_color">Colour of flag:</label>
    <input type="text" name="flag_color" value="{{buggy['flag_color']}}" /></p>
    <p><label for="flag_pattern">Flag pattern:</label>
    <select name="flag_pattern">
      <option>plain<option/>
      <option>vstripe<option/>
      <option>hstripe<option/>
      <option>dstripe<option/>
      <option>checker<option/>
      <option>spot<option/>
    </select></p>
    <input type="submit" class="button">
  </form>
  <p>
    <a href="/" class="button">home</a>
   </p>
{% endblock %}
