{% extends "base.html" %}
{% block content %}

<style>
  .cs1999-tasks {
    border-top: 1px solid black;
    margin-top: 4em;
  }
  .cs1999-tasks .task {
    margin: 1em;
    padding: 1em;
    border: 1px solid black;
  }
  .cs1999-tasks .task h2 {
    border-bottom: 3px solid gray;
  }
</style>

<!-- see tech note about the poster:  
      https://rhul-cs-projects.github.io/CS1999-buggy-race-server/                -->
<!--                                                                              -->
<!-- anything you want here: make it beautiful! make it appealing! make it clear! -->
<!-- you can drop images into static/assets if you want... and access them        -->
<!-- here with <img src="/static/image-filename.png" alt="diagram" />             -->
<!--                                                                              -->
<!-- Of course you can edit static/app.css too if you want. It's your webserver,  -->
<!--                                                                              -->
<!-- Maybe... delete all these comments too :-)                                   -->


<!-- below this point keep this section tag and paste in a <div> for every        -->
<!-- task you attempted.                                                          -->

<section class="cs1999-tasks">

  <div class="task">
    <h2>0-GET</h2>
    <p>
      I forked the repo on GitHub and then used <code>git clone</code> to make a local copy.
    </p>
    <p>
      Once the repo was on my own machine I was able to commit changes to version control
      as I went along, and I pushed back up to my GitHub repo at the end of each day.
      I followed GitHub's instructions and set up a SSH key so I didn't need to enter
      username and password every time I pushed.
    </p>
  </div>



<div class="task">
  <h2>0-RUN Get app running and view it in a browser</h2>
  <p>
    <!-- sentence on _how_ you fixed it -->
  </p>
  <p>
    <!-- sentence(s) on anything interesting/incomplete you did -->
  </p>
</div>



<div class="task">
  <h2>0-CHANGE Make a change to a template and see it appear</h2>
  <p>
    <!-- sentence on _how_ you fixed it -->
  </p>
  <p>
    <!-- sentence(s) on anything interesting/incomplete you did -->
  </p>
</div>



<div class="task">
  <h2>1-ADD Add more data to the form</h2>
  <p>
    <!-- sentence on _how_ you fixed it -->
  </p>
  <p>
    <!-- sentence(s) on anything interesting/incomplete you did -->
  </p>
</div>



<div class="task">
  <h2>1-VALID Add basic data validation</h2>
  <p>
    <!-- sentence on _how_ you fixed it -->
  </p>
  <p>
    <!-- sentence(s) on anything interesting/incomplete you did -->
  </p>
</div>



<div class="task">
  <h2>1-STYLE Style your editor just how you like it</h2>
  <p>
    <!-- sentence on _how_ you fixed it -->
  </p>
  <p>
    <!-- sentence(s) on anything interesting/incomplete you did -->
  </p>
</div>



<div class="task">
  <h2>2-EDIT Edit the record by loading its current values into the form</h2>
  <p>
    <!-- sentence on _how_ you fixed it -->
  </p>
  <p>
    <!-- sentence(s) on anything interesting/incomplete you did -->
  </p>
</div>



<div class="task">
  <h2>2-FORM Make the form better</h2>
  <p>
    <!-- sentence on _how_ you fixed it -->
  </p>
  <p>
    <!-- sentence(s) on anything interesting/incomplete you did -->
  </p>
</div>



<div class="task">
  <h2>2-COST Calculate and save the game cost of the buggy</h2>
  <p>
    <!-- sentence on _how_ you fixed it -->
  </p>
  <p>
    <!-- sentence(s) on anything interesting/incomplete you did -->
  </p>
</div>



<div class="task">
  <h2>2-RULES Add validation according to the game rules</h2>
  <p>
    <!-- sentence on _how_ you fixed it -->
  </p>
  <p>
    <!-- sentence(s) on anything interesting/incomplete you did -->
  </p>
</div>



<div class="task">
  <h2>3-ENV Switch to using development or production environments</h2>
  <p>
    <!-- sentence on _how_ you fixed it -->
  </p>
  <p>
    <!-- sentence(s) on anything interesting/incomplete you did -->
  </p>
</div>



<div class="task">
  <h2>3-AUTOFILL Add auto-fill to the edit forms</h2>
  <p>
    <!-- sentence on _how_ you fixed it -->
  </p>
  <p>
    <!-- sentence(s) on anything interesting/incomplete you did -->
  </p>
</div>



<div class="task">
  <h2>3-MULTI Allow different buggies to be created</h2>
  <p>
    <!-- sentence on _how_ you fixed it -->
  </p>
  <p>
    <!-- sentence(s) on anything interesting/incomplete you did -->
  </p>
</div>



<div class="task">
  <h2>3-DEL Allow buggies to be deleted</h2>
  <p>
    <!-- sentence on _how_ you fixed it -->
  </p>
  <p>
    <!-- sentence(s) on anything interesting/incomplete you did -->
  </p>
</div>



<div class="task">
  <h2>3-FLAG Display the pennant graphically</h2>
  <p>
    <!-- sentence on _how_ you fixed it -->
  </p>
  <p>
    <!-- sentence(s) on anything interesting/incomplete you did -->
  </p>
</div>



<div class="task">
  <h2>3-TESTS Write some tests</h2>
  <p>
    <!-- sentence on _how_ you fixed it -->
  </p>
  <p>
    <!-- sentence(s) on anything interesting/incomplete you did -->
  </p>
</div>



<!-- this closes the section: keep it in! -->
</section>

{% endblock %}